@import "../../styles/config";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;

  .icons {
    display: flex;

    .user {
      display: flex;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $Soft-Periwinkle;
        color: $Dark-gunmetal;
        object-fit: cover;
      }
    }
  }
}
